* {
  box-sizing: border-box;
}

.load {
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.bottom-menu {
  border: 1px solid black;
  width: 300px;
  margin-top: 50px;
}

.tasks {
  width: 300px;
}

.tasks-card {
  border: 1px solid black;
  padding: 10px;
}

.information {
  display: flex;
  margin: 20px 0 10px 0;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-around;
}